<mat-toolbar color="primary" class="public-header header">
    <div class="header-slide-wrapper-container">
        <div class="header-slide-wrapper">
            <div class="header-slide inner-wrap" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                <div fxLayout="column"  fxLayoutAlign="center center">
                    <a href="/">
                        <span class="logo">
                            <img src="../../assets/logo_white.svg" alt="Synergy International Systems" style="max-height: 80px;">
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="reading-progress"></div>
</mat-toolbar>
