
mat-card{
  width: 100%;
  height: 100%;
  box-sizing: border-box;

}
.main-grid{
  min-height: 100vh;
}

.title-div{
  min-height: 100px;
  padding: 27px 16px 10px;
  background: #00acc1;
  color: white;
  display: flex;
  align-items: center;
  h2{
    margin: 0;
    font-weight: 300;
  }
}
.main-section{
  padding: 0 16px;
  max-width: 1210px;
  margin: 0 auto;
}
.button-add{
  position: relative;
  button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
    .mat-button-wrapper{
       font-size: 24px!important;
     }

}
.dropdown-menu-container{
  position: absolute;
  top: 50%;
  left: 80px;
  transform: translateY(-50%);
  .add-btn{
    border: 1px solid #eeeeee;
    border-radius: 6px;
  }
}
.menu-div{
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 10px 16px;
  position: -webkit-sticky;
  position: sticky;
  top: 64px;
  z-index: 10;
  background: white;
  margin-bottom: 20px;
}
.main-card{
  margin-bottom: 30px;
  .mat-card-inner{
    display: flex;
    >div{
      flex: 1;
      min-height: 300px;
    }
    .left-side{
      flex: 1;
      border-right: 1px solid #cfcfcf;
      padding-right: 16px;
    }
    .right-side{
      padding-left: 16px;
    }
  }
}
.info-block{
  .form-title{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    border-width: 0 0 1px 0;
    border-radius: 0;
        padding: 6px;
  }
  .form-description{
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    margin-top: 5px;
    border-width: 0 0 1px 0;
    border-radius: 0;
        padding: 6px;
  }

}
.refresh{
  margin-left: 10px;
}
.see-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 10px;
  position: sticky;
  top: 84px;
  z-index: 12;
}
@media screen and (max-width: 600px){
  .main-card .mat-card-inner{
    flex-direction: column;
  }
  .main-card .mat-card-inner .left-side{
    border-right: 0;
    border-bottom: 1px solid #eeeeee;
    padding: 0;
  }
  .main-card .mat-card-inner .right-side{
    padding: 0;
  }
  .see-buttons{
    justify-content: flex-end;
  }
}
